@use "../../styles/mixins" as *;

.add-child-component {
    margin: 2rem auto;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 80%;
    max-width: 600px;

    @include mobile {

        width: 95%;
    }
    .add-input {
        width: 80%;
        flex: 1;
        padding: 14px 16px;
        font-size: 16px;
        border: none;
        border-radius: 30px 0 0 30px;
        outline: none;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

        @include mobile {
            width: 75%;
            font-size: 13px;
            padding: 15px;
        }
    }

    .add-child-btn {
        margin: 0;
        padding: 14px 24px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 0 30px 30px 0;
       

        @include mobile {
        font-size: 15px;
        padding: 15px;
    }

    }

}