@use "../../styles/mixins" as *;

.child-list-component {
    margin: 5rem auto;
    text-align: center;

    .child-list-items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        // grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 25px;
        padding: 2rem 0;
        width: 95%;

        @include mobile {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            max-width: 95%;
        }

        .child-list-item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-bottom-right-radius: 100px;
            border-top-left-radius: 100px;
            background: #6a43d7;
            // aspect-ratio: 1.7791411042944785 / 1;
            min-width: 250px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

            min-height: 150px;
            transition: all 0.3s ease-in-out;

            // &::after,
            // &::before {
            //     border-bottom-right-radius: 100px;
            //     border-top-left-radius: 100px;
            //     content: " ";
            //     position: absolute;
            //     height: 100%;
            //     width: 100%;
            //     background-image: conic-gradient(#6a43d7, #ff4d4d, #3efbe4);
            //     top: 50%;
            //     left: 50%;
            //     translate: -50% -50%;
            //     z-index: -1;
            //     padding: 3px;

            // }

            // &::before{
            //     filter: blur(1rem);
            // }

            &:hover {
                border-bottom-left-radius: 100px;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 0;
                border-top-left-radius: 0;
            }

            &:nth-child(odd) {
                background: #ffd93d;
            }

            .child-list-name {
                font-size: 1.5rem;
                white-space: normal;
                overflow-wrap: break-word;
                word-break: break-word;
                padding: 20px 30px;
            }
        }

        
    }
}