@use "../../styles/mixins" as *;

.timer-component {

  .timer-item {
    position: relative;
    height: 90%;
    width: 90%;
    margin-bottom: 0;
    justify-content: space-evenly !important;

    @include mobile {
      height: 95%;
      width: 95%;
      padding: 10px;
    }

    .timer-title {
      font-size: 3rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    .timer-info {
      font-size: 1.5rem;

      @include mobile {
        font-size: 1.2rem;
      }
    }


    .timer-wraper {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 500px;
      max-height: 500px;
      // border-radius: 50%;
      // background: rgba(106, 67, 215, 0.2);
      // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
      // backdrop-filter: blur(8.2px);
      // -webkit-backdrop-filter: blur(8.2px);
      // border: 1px solid rgba(255, 255, 255, 0.3);


      @include mobile {
        max-width: 300px;
        max-height: 300px;
        // min-width: 270px;
      }

      .doughnut-chart{
        position: absolute;
        z-index: 1;
        filter: drop-shadow(#301934 10px 10px 14px);
      }

      .logo {
        position: relative;
        height: 35% !important;
        width: 35% !important;

      }

      .timer {
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        font-size: 5rem;
        text-shadow: 2px 2px 5px #000;
        letter-spacing: 8;

        @include mobile {
          font-size: 4rem;
          gap: 4px;
          letter-spacing: 2px;
        }

        .minutes {
          transition: all 1s ease;
        }

        .seconds {
          &.running {
            animation: bounce 1s infinite;
            animation-delay: 1s;
          }

        }

      }
    }
  }
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
