@use "../../styles/mixins" as *;

.timer-component {

  .timer-item {
    position: relative;
    height: 80%;
    width: 90%;
    margin-bottom: 0;
    justify-content: space-evenly !important;

    @include mobile {
      height: 90%;
    }
  
    

    .timer-logo {
      max-width: 150px;
      max-height: 150px;
      // margin: 0;
      // position: absolute;
      // top: -100%;
      // left: 50%;
      // transform: translate(-50%);
      // animation: show-logo 0.6s forwards ease-in-out;
      // animation-delay: 0.5s;

      @include mobile {
        max-width: 110px;
        max-height: 110px;
        // animation: show-logo-m 0.6s forwards ease-in-out;
        // animation-delay: 0.5s;
      }
    }

    .timer-title {
      font-size: 3rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    .timer-info {
      font-size: 1.5rem;
    }

    .timer-wraper {
      min-width: 300px;
      overflow: hidden;
      background: rgba(106, 67, 215, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(8.2px);
      -webkit-backdrop-filter: blur(8.2px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      text-align: center;

      @include mobile {
        min-width: 270px;
      }

      .timer {
        font-weight: bold;
        display: inline-flex;
        gap: 6px;
        font-size: 5rem;
        text-shadow: 2px 2px 5px #000;
        letter-spacing: 8;

        .minutes {
          animation: pulse 2s infinite;
          ;
        }

        .seconds {
          &.running {
            animation: bounce 1s infinite;
          }

        }

      }
    }
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

// @keyframes show-logo {
//   0%{
//     top: -100%;
//   }
//   100%{
//     top: -10%;
//   }
// }
// @keyframes show-logo-m {
//   0%{
//     top: -100%;
//   }
//   100%{
//     top: -10%;
//   }
// }