@use "../../styles/mixins" as *;

.timer-component {

  .timer-item {
    position: relative;
    height: 90%;
    width: 90%;
    margin-bottom: 0;
    justify-content: space-evenly !important;

    @include mobile {
      height: 95%;
      width: 95%;
      padding: 10px;
    }

    .timer-title {
      font-size: 3rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    .timer-info {
      font-size: 1.5rem;

      @include mobile {
        font-size: 1.2rem;
      }
    }

    .time-slide-wrapper {
      position: relative;
      width: 100%;
      height: 20px;
      border: 1px solid #000;
      border-radius: 0 10px 10px 0;

      &::after {
        content: "2 min.";
        font-weight: bold;
        padding: 10px 15px;
        // clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 70%, 50% 70%, 50% 100%, 40% 70%, 0% 70%, 0% 10%);
        position: absolute;
        // background: #fff;
        top: -70%;
        right: -1%;
      }

      .time-slide {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: tomato;
        border-radius: 0 10px 10px 0;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

        &.goo {
          animation-name: goo;
          animation-duration: 120s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
      }
    }


    .timer-wraper {
      position: relative;
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 400px;
      border-radius: 50%;
      // overflow: hidden;
      background: rgba(106, 67, 215, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(8.2px);
      -webkit-backdrop-filter: blur(8.2px);
      border: 1px solid rgba(255, 255, 255, 0.3);


      @include mobile {
        max-width: 300px;
        max-height: 300px;
        // min-width: 270px;
      }

      .logo {
        position: relative;
        height: 50% !important;
        width: 50% !important;

      }

      .timer {
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        font-size: 5rem;
        text-shadow: 2px 2px 5px #000;
        letter-spacing: 8;

        .minutes {
          transition: all 1s ease;
        }

        .seconds {
          &.running {
            animation: bounce 1s infinite;
            animation-delay: 1s;
          }

        }

      }
    }
  }
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes goo {

  0% {
    background: tomato;
    width: 0%;
  }

  25% {
    background: tomato;
  }

  45% {
    background: blue;
  }

  70% {
    background: green;
  }

  100% {
    width: 100%;
    background: gold;
  }
}