@use "../../styles/mixins" as *;

.timer-component {

  .timer-item {
    position: relative;
    height: 80%;
    width: 90%;
    margin-bottom: 0;
    justify-content: space-evenly !important;

    @include mobile {
      height: 95%;
      width: 95%;
    }



    .timer-logo {
      max-width: 150px;
      max-height: 150px;
      // margin: 0;
      // position: absolute;
      // top: -100%;
      // left: 50%;
      // transform: translate(-50%);
      // animation: show-logo 0.6s forwards ease-in-out;
      // animation-delay: 0.5s;

      @include mobile {
        max-width: 110px;
        max-height: 110px;
        // animation: show-logo-m 0.6s forwards ease-in-out;
        // animation-delay: 0.5s;
      }
    }

    .timer-title {
      font-size: 3rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    .timer-info {
      font-size: 1.5rem;

      @include mobile {
        font-size: 1.2rem;
      }
    }

    .time-slide-wrapper {
      position: relative;
      width: 100%;
      height: 20px;

      .time-slide {
        position: absolute;
        top: 50%;
        left: 0;
        height:100%;
        width: 0%;
        background: tomato;
        border-radius: 0 10px 10px 0;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

        &.goo {
          animation-name: goo;
          animation-duration: 120s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
      }
    }

    .timer-wraper {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      background: rgba(106, 67, 215, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(8.2px);
      -webkit-backdrop-filter: blur(8.2px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      text-align: center;

      @include mobile {
        // min-width: 270px;
      }

      .timer {
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 6px;
        font-size: 5rem;
        text-shadow: 2px 2px 5px #000;
        letter-spacing: 8;

        .minutes {
          animation: pulse 2s infinite;
          ;
        }

        .seconds {
          &.running {
            animation: bounce 1s infinite;
          }

        }

      }
    }
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(150%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-150%);
  }
}

// @keyframes show-logo {
//   0%{
//     top: -100%;
//   }
//   100%{
//     top: -10%;
//   }
// }
// @keyframes show-logo-m {
//   0%{
//     top: -100%;
//   }
//   100%{
//     top: -10%;
//   }
// }

@keyframes goo {

  0% {
    background: tomato;
    width: 0%;
  }

  25% {
    background: tomato;
  }

  45% {
    background: blue;
  }

  70%{
    background: green;
  }

  100% {
    width: 100%;
    background: gold;
  }
}