@use "../../styles/mixins" as *;

.show-last-sesion-component{

    .show-last-sesion-item{
        position: relative;

        .price-img{
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: -200%;
             transform: translate(-50%, -50%);
            margin: 0;
            animation: slide-left 2s ease forwards;
                       
        }

    }
}

@keyframes slide-left {
        0%{
            left: -200%;
        }
        100%{
            left: 50%;
           
        }
}
