@use "../../styles/mixins" as *;
.blobs {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.blob {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(10px);
  opacity: 0.6;
  animation: float 18s ease-in-out infinite;

  @include mobile {
    width: 200px;
    height: 200px;
  }
}

.blob-1 {
  background: #52be32;
  top: -100px;
  left: -100px;

  @include mobile{
    top: 30px;
    left: -50px;
    display: none;
  }
}

.blob-2 {
  background: #fbce3e;
  top: 30%;
  right: -150px;
  animation-duration: 22s;

  @include mobile{
    right: -50px;
  }
}

.blob-3 {
  background: #6610f2;
  bottom: -150px;
  left: 40%;
  animation-duration: 26s;

  @include mobile{
    bottom: 15px;
    left: -130px;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(60px, -40px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
