@use "../../styles/mixins" as *;

.header-component {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #52be32;
    background: #fff;
    overflow: hidden;

    .header-title {
        z-index: 1;

        @include mobile {
            font-size: 2rem;
        }
    }

    .img-logo {
        position: absolute;
        max-width: 100px;
        max-height: 100px;
        bottom: -120%;
        right: 5%;
        transition: all 0.3s;
        animation:
            show 0.5s ease-in-out 1s forwards,
            slide 1.5s ease 5s forwards;
            z-index: 1;


        @include mobile {
            right: 0;
            animation: show-mobile 0.5s forwards 1s ease-in-out,
            slide-mobile 1.5s ease 5s forwards;
          
        }
    }
}

@keyframes show {
    0% {
        bottom: -100%;

    }

    100% {
        bottom: -10%;

    }
}

@keyframes show-mobile {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: -20%;
    }
}

@keyframes slide {
    0% {
        right: 5%;
        z-index: 1;
    }

    100% {
        right: 90%;
        z-index: 0;
    }
}
@keyframes slide-mobile {
      0% {
        right: 5%;
        z-index: 1;
    }

    100% {
        right: 70%;
        z-index: 0;
    }
}