@use "../../styles/mixins" as *;

.header-component{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #52be32;
    background: #fff;
    overflow: hidden;

    .img-logo{
        position: absolute;
        max-width: 100px;
        max-height: 100px;
        bottom: -100%;
        right: 5%;
        transition: all 0.3s;
        animation: show 0.5s forwards ease-in-out;
        animation-delay: 4s;

        @include mobile {
            right: 0;
            animation: show-mobile 0.5s forwards ease-in-out;
            animation-delay: 3s;
        }
    }
}

@keyframes show {
    0%{ 
        bottom: -100%;
    }
   
    100%{
        bottom: -10%;
    }
}
@keyframes show-mobile {
          0%{ 
        bottom: -100%;
    }
   
    100%{
        bottom: 40%;
    }
}