.draw-component {
  text-align: center;
}


.draw-item {
  max-width: 350px;
  height: 60px;
  margin: 20px auto;
  overflow: hidden;
  min-width: 300px;
      overflow: hidden;
      background: rgba(106, 67, 215, 0.6);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8.2px);
        -webkit-backdrop-filter: blur(8.2px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
}

.draw-list {
  transition: transform 0.6s ease-out;

  .draw-names{
    color: #fff;
    text-transform: uppercase;
  }
}

.draw-list.rolling {
  animation: roll 0.25s linear infinite;
}

.draw-list.bounce {
  animation: bounce 0.5s ease-out;
}

.draw-list p {
  height: 60px;
  line-height: 60px;
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #4d96ff;
}
@keyframes roll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}