@use "../../styles/mixins" as *;

.logout-modal-component{
      position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .logout-modal{
        margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background: #3efbe4;
    border-radius: 30px;
    gap: 20px;

    .logout-modal-title{

        @include mobile{
            font-size: 1.3rem;
        }
    }

    .buttons {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        .confirm-logout{
            background: #ff4d4d;
            font-size: 1rem;
            padding: 10px 20px;
        }
        .confirm-logout, .cancel-logout{
            
            @include mobile{
                font-size: 0.8rem;
                padding: 8px 16px;
            }
        }
    }
  }
}