.logout-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 5px 20px 20px 20px;

    .user-data{
        margin: 0;
    }
    .logout-btn{
        background: #ff4d4d;
        font-size: 0.7rem;
        padding: 10px 20px;
    }
}